body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */

.tab {
    float: left;
    background-color: #029696;
    width: 100%;
    height: 100%;
    font-weight: bold;
}
.tablinks {
    background-color: red;
    color: black;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
  }

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 2px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    border-bottom: 1px solid #04bfbf;
    outline: #ffffff solid 1px;
    font-weight: bold;
}


  

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #008080;
    color: #000000;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #D69E2E 
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 0px;
    width: 100%;
    height: 100%;
}

.section-head {
    color: #ffffff;
    font-size: 15px;
    margin: 4px;
    font-weight: bold;
}

/* #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a4d2a3;
    color: white;
} */
